h1, h4, img, button, input {
    text-align: center;
    display: block;
    margin: 0 auto;
}

img {
    margin: -20px 60px 0 0;
    float: left;
    height: 45%;
    width: 45%;
    border-radius: 5%;
    padding-left: 2px;
}
.cocktail-container {
    height: 25em;
    width: 25em;
    border: solid 2px black;
    margin: 4em auto;
   
    border-radius: 5%;
    
}
.instructions {
    padding-top: 50px;
    clear: both;
    
}
.ingredients {
   margin-left: 167px;
    width: 50%;
}
.name {
   float: left;
    height: 40px;
    width: 5em;
    
    font-size: 2rem;
}